[submodule "fib-addon"]
path = fib-addon
url = https://github.com/fibjs/fib-addon.git
[submodule "huggingface-tokenizer-in-cxx"]
path = huggingface-tokenizer-in-cxx
url = https://github.com/wangkuiyi/huggingface-tokenizer-in-cxx.git
[submodule "sentencepiece"]
path = sentencepiece
url = https://github.com/google/sentencepiece.git
[submodule "cpp-tiktoken"]
path = cpp-tiktoken
url = https://github.com/gh-markt/cpp-tiktoken.git
[submodule "onnxruntime-extensions"]
	path = onnxruntime-extensions
	url = https://github.com/microsoft/onnxruntime-extensions.git
[submodule "GSL"]
	path = GSL
	url = https://github.com/microsoft/GSL.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
